<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Pokémon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome do Pokémon</ion-label>
    <ion-input [(ngModel)]="nome" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Poder (número)</ion-label>
    <ion-input [(ngModel)]="poder" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo do Pokémon</ion-label>
    <ion-select [(ngModel)]="tipo">
      <ion-select-option value="Fogo">Fogo</ion-select-option>
      <ion-select-option value="Água">Água</ion-select-option>
      <ion-select-option value="Grama">Grama</ion-select-option>
      <ion-select-option value="Eletrico">Eletrico</ion-select-option>
      <ion-select-option value="Fantasma">Fantasma</ion-select-option>
      <ion-select-option value="Voador">Voador</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Região</ion-label>
    <ion-input [(ngModel)]="regiao" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Raridade</ion-label>
    <ion-select [(ngModel)]="raridade" name="raridade">
      <ion-select-option value="Comum">Comum</ion-select-option>
      <ion-select-option value="Incomum">Incomum</ion-select-option>
      <ion-select-option value="Raro">Raro</ion-select-option>
      <ion-select-option value="Lendário">Lendário</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="corRaridade">
    <ion-label>Cor da Raridade</ion-label>
    <ion-badge [style.background-color]="corRaridade">{{ raridade }}</ion-badge>
  </ion-item>
  <ion-button expand="full" (click)="adicionarPokemon()">Adicionar Pokémon</ion-button>
  <ion-button expand="full" (click)="navegarParaListaPokemon()">Voltar para Lista </ion-button>
</ion-content>
